@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.column-width-1 {
  width: 60px; /* Độ rộng của cột Index */
}

.column-width-2 {
  width: 10px; /* Độ rộng của cột Vocab */
}

.column-width-3 {
  width: 150px; /* Độ rộng của cột Trans */
}

.column-width-4 {
  width: 100px; /* Độ rộng của cột Position */
}

.column-width-5 {
  width: 100px; /* Độ rộng của cột Action */
}
